<div class="container">
 <div class="row">
  <div class="col-xs-12 mx-auto">

     <p>このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br></p>

   </div>
 </div>

 <div class="col-xl-8 col-md-6">
   <div class="d-flex justify-content-center" style="text-align: center; padding-top: 30px; margin-right: 50px;">
     <h3>新着商品</h3>
   </div>
 </div>
 <div class="col-xl-12 col-md-12">
   <div class="d-flex justify-content-center flex-wrap">
    <% @items.each do |item| %>
      <div class="box" style="float:left; margin-right:30px;">
        <%= link_to item_path(item.id) do %>
          <%= image_tag url_for(item.image.variant(resize_to_limit: [100, 100])) %><br>
        <% end %>
        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <%= link_to item.name, item_path(item.id) %>
        </p>
        <p>¥<%= item.price %></p>
      </div>
    <% end %>
  </div>
   </div>
 </div>
