<div class="col-md-3">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="text-center"><h5>ジャンル検索</h5></th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |genre| %>
      <tr>
<<<<<<< HEAD
        <td><%=link_to genre_name, genre_path(genre.id) %></td>
=======
        <!--<td>%=link_to genre.name, genre_path(genre.id) %></td>-->
        <td><%= genre.name %></td>
      </tr>
      <tr>

>>>>>>> 82a0932b6e8fc84306e2f1049da71ab5d7b331a9
      </tr>
      <% end %>
    </tbody>
  </table>
</div>