<footer class='containe-fluidr', style="background-color: #f1f0e5;">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
        <p><%= link_to "Copyright © sample All Rights Reserved(管理者ログイン).", new_admin_session_path %></p>
        <p>add: admin@example.com</p><p>pw: admin12</p>
        <p>顧客一号(カスタマー)</p>
        <p>add: customer1@example.com</p><p>pw: customer1</p>
    	</div>
    </div>
  </div>
</footer>