<footer>
  <div class='container', style="background-color: #f1f0e5;">
  	<div class='row'>
    	<div class='mx-auto'>
        <h1>Layouts#_footer</h1>
        <p><%= link_to "管理者用ログイン(仮)", new_admin_session_path %></p>
        <p>add: admin@example.com</p><p>pw: admin12</p>
        <p>顧客一号(カスタマー)</p>
        <p>add: customer1@example.com</p><p>pw: customer1</p>
    	</div>
    </div>
  </div>
</footer>